- content_for :header do
  %header.grid_10.prefix_1.suffix_1
    %h1= link_to 'Karen & Andrew', root_url, title: 'Karen & Andrew'
  %span.clear

.grid_10.prefix_1.suffix_1
  #slides= image_tag 'slide01-yellow-daffodils.jpg'
  %nav
    .sprite.topics
      = link_to karenandrew_url(:topics), title: render('topics'), rel: 'tipsy' do
        %span What We Believe
    .sprite.journal
      = link_to karenandrew_url(:journal), title: render('journal'), rel: 'tipsy' do
        %span Family Journal
    .sprite.howto
      = link_to karenandrew_url(:howto), title: render('howto'), rel: 'tipsy' do
        %span How We Do It
    .sprite.recipes
      = link_to karenandrew_url(:recipes), title: render('recipes'), rel: 'tipsy' do
        %span Family Recipes

- content_for :footer do
  %footer.grid_10.prefix_1.suffix_1
    &copy; 2011 Karen and Andrew Bennett