- content_for :header do
  %header.grid_10.prefix_1.suffix_1
    %h1= link_to 'Karen & Andrew', root_url, title: 'Karen & Andrew'
  %span.clear

-#%canvas#kenburns{ width: 640, height: 480 }
  %p Your browser doesn't support canvas!

.grid_10.prefix_1.suffix_1
  #slides
    %canvas#kenburns{ width: 780, height: 514 }= image_tag 'slide01-yellow-daffodils.jpg'
  -##slides= image_tag 'slide01-yellow-daffodils.jpg'
  %nav
    = link_to karenandrew_url(:topics), title: render('topics'), rel: 'tipsy', class: 'sprite topics' do
      %span What We Believe
    = link_to karenandrew_url(:journal), title: render('journal'), rel: 'tipsy', class: 'sprite journal' do
      %span Family Journal
    = link_to karenandrew_url(:howto), title: render('howto'), rel: 'tipsy', class: 'sprite howto' do
      %span How We Do It
    = link_to karenandrew_url(:recipes), title: render('recipes'), rel: 'tipsy', class: 'sprite recipes' do
      %span Family Recipes

- content_for :footer do
  %footer.grid_10.prefix_1.suffix_1
    &copy; 2011 Karen and Andrew Bennett