= simple_form_for(@movie) do |f|
  - if @movie.errors.any?
    #error_explanation
      %h2
        = pluralize(@movie.errors.count, "error")
        prohibited this movie from being saved:
      %ul
        - @movie.errors.full_messages.each do |msg|
          %li= msg
  = f.input :title
  = f.input :premiered_at, as: :date
  = f.input :released_at,  as: :date
  = f.input :watched,      as: :boolean

  = f.button :submit